<?php
	return array(
		'doctrine' => array(
			'connection' => array(
				'orm_default' => array(
					'driverClass' =>'Doctrine\DBAL\Driver\Mysqli\Driver',
					'params' => array(
						'host'     => 'localhost',
						'port'     => '3306',
						'user'     => 'zf2test',
						'password' => 'zf2test',
						'dbname'   => 'zf2test'
					)
				)
			),
			// Configuration details for the ORM.
			// See http://docs.doctrine-project.org/en/latest/reference/configuration.html
			'configuration' => array(
				// Configuration for service `doctrine.configuration.orm_default` service
				'orm_default' => array(
					// metadata cache instance to use. The retrieved service name will
					// be `doctrine.cache.$thisSetting`
					'metadata_cache'    => 'memcached',

					// DQL queries parsing cache instance to use. The retrieved service
					// name will be `doctrine.cache.$thisSetting`
					'query_cache'       => 'memcached',

					// ResultSet cache to use.  The retrieved service name will be
					// `doctrine.cache.$thisSetting`
					'result_cache'      => 'memcached'
				)
			)
		)
	);