<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

	use 
		Zend\Mail\Message,
		Zend\Log\Logger,
		Application\Model\Error\Service\PolicyProcessingErrors;

	return array(
		'view_manager' => array(
			'display_not_found_reason' => false,
			'display_exceptions'       => false,
		),
		'service_manager' => array(
			'aliases'	=> array('em' => 'Doctrine\ORM\EntityManager'),
			'factories' => array(
				'logger' =>  function ($sm) {
					
					$message = new Message();

					/**
					 * @todo move this settings to config file
					 */
					$message->setTo('sirvantosbuglovers@gmail.com');
					
					return new Logger(array('writers' => array(
						array(
							'name'		=> '\Zend\Log\Writer\Stream',
							'options'	=> array(
								'log_separator' => "\n\n\n",
								'stream'		=> "/var/log/www/zf2doctrine.log",
							)
						),
						array(
							'name' => '\Zend\Log\Writer\Mail', 
							'options' => array(
								'mail' => $message
							)
						)
					)));
				},
				'my_memcached_alias' => function() {
					$memcached = new \Memcached();
                    $memcached->addServer('localhost', 11211);
                    return $memcached;
                }
			),
		)
	);